/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-style-3 h2 {
    font-size: 28px;
}

.card-style-3 {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 30px;
    width: 350px;
    padding: 0px;
    border-radius: 15px;
    border: 15px solid rgb(235, 205, 8);
}

.card-style-3 .health {
    padding-bottom: 2px;
    padding-left: 200px;
    font-size: 20px;
}

.card-style-3 img {
    width: 280px;
    object-fit: cover;
    border: 5px solid goldenrod;
}

.details {
    margin-top: 3px;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    background: radial-gradient(
        at top right,
        rgb(240, 209, 5),
        goldenrod,
        yellow
    );
}

.attack {
    display: flex;
    align-items: center;
}

#pokemon-card-1,
#pokemon-card-2 {
    background: radial-gradient(
        at top left,
        rgb(96, 243, 83),
        rgb(82, 179, 80),
        rgb(96, 243, 83)
    );
}

#pokemon-card-3 {
    background: radial-gradient(
        at top left,
        rgb(243, 168, 83),
        rgb(236, 134, 25),
        rgb(235, 85, 10)
    );
}

#pokemon-card-4 {
    background: radial-gradient(
        at top left,
        rgb(80, 222, 235),
        rgb(165, 239, 252),
        rgb(19, 175, 192)
    );
}

.description {
    padding-bottom: 30px;
}

.description span {
    display: inline-block;
    padding-top: 30px;
    font-weight: bold;
}

.power {
    font-size: 20px;
    font-weight: bold;
}

.data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    margin: 20px;
    padding: 0px 10px;
    border: 2px solid goldenrod;
}