/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/

.card-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card-style-2 {
    max-width: 350px;
    background-color: white;
    margin-top: 18px;
    border-radius: 40px;
    padding-bottom: 30px;
}

.card-style-2 h2 {
    margin-top: 0px;
}

.card-style-2 img {
    border-radius: 50%;
    width: 200px;
    margin: 30px ;
    margin-bottom: 20px;
}

.card-style-2 p {
    text-align: center;
    margin: 0px 48px;
}

.animagram-header {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
}


.animagram-header span {
    font-size: 28px;
}

.brand-name {
    margin-top: 30px;
}

.logo {
    margin-top: 15px;
}

.animagram-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    font-size: 22px;
}

.animagram-footer span {
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 22px;
}
