* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#hero-1 {
    background-image: url(../images/auroras.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#hero-1 h1 {
    font-size: 5vw;
    padding-top: 16vh;
    padding-left: 3vw;
    color: whitesmoke;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

#hero-1 h4 {
    text-align: center;
    font-size: 1.5vw;
    margin-top: 45px;
    color: #efefef;
}
#hero-1 .hero-content {
    position: absolute;
    top: 22%;
    left: 33%;
}

#hero-1 a {
    font-size: 1vw;
    display: inline-block;
    background-color: blueviolet;
    border-radius: 100px;
    color: whitesmoke;
    text-decoration: none;
    position: absolute;
    left: 35%;
    padding: 22px;
} 

.spacer {
    height: 2vh;
}

#hero-2 {
    background-image: url(../images/pineapple.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

#hero-2 h2 {
    font-size: 3vw;
    margin-bottom: 0px;
    color: rgb(221, 10, 109);
}

#hero-2 h4 {
    font-size: 2vw;
}

#hero-2 a {
    font-size: 1vw;
    display: inline-block;
    background-color: rgb(240, 193, 7);
    color: #111111;
    text-decoration: none;
    padding: 24px;

}

#hero-3 {
    background-image: url(../images/pexels-janetrangdoan-1128678.jpg);
    height: 100vh;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-3 h1 {
    font-size: 4vw;
    padding-left: 1vw;
    margin-bottom: 0px;
}

#hero-3 p {
    font-size: 2vw;
    padding-left: 1vw;
    margin-top: 20px;
    margin-bottom: 0px;
}

#hero-3 a {
    font-size: 1.5vw;
    display: inline-block;
    background-color: #111111;
    color: whitesmoke;
    text-decoration: none;
    padding: 15px;
    margin-left: 1vw;
    margin-top: 1vw;
}