* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#page-layout {
    display: grid;
    grid-template-columns: 1fr 250px 450px 500px 1fr;
    grid-template-areas:
        ". header header header ."
        ". thumbnail product-image product-info . ";

}

#header {
    grid-area: header;
}

h1 {
    padding: 0px 50px;
}

h1 a {
    text-decoration: none;
    /* font-size: 48px; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#m {
    color: rgb(241, 159, 6);
}

#e {
    color: rgb(236, 3, 3);
}

#b {
    color: rgb(2, 158, 2);
}

#y {
    color: rgb(172, 6, 172);
}

#grid-thumbnails {
    grid-area: thumbnail;
}

#grid-thumbnails img:hover {
    border: 2px solid #111111;
    border-radius: 15px;
}

.thumbnail img {
    width: 100px;
    margin: 3px 30px;
    border-radius: 15px;
}

#product-image {
    grid-area: product-image;
}

#product-image img {
    width: 400px;
}

#product-info {
    grid-area: product-info;
}

#product-info h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#product-info a {
    color: #111111;
    font-weight: lighter;
    font-size: 14px;
}

#seller-info {
    border-top: 1px solid rgb(219, 215, 215);
    padding-top: 20px;
    border-bottom: 1px solid rgb(219, 215, 215);
    padding-bottom: 20px;
}

#seller-info img {
    width: 50px;
}

.condition {
    padding-bottom: 20px;
}

.condition span {
    font-weight: bold;
}

.quantity {
    padding-top: 15px;
}

.quantity a {
    text-decoration: none;
}

.box {
    padding-left: 5px;
    background-color: rgb(248, 245, 245);
    border: black solid 1px;
    padding: 15px 35px;
    border-radius: 5px;
}

.available {
    padding-left: 5px;
    color: rgb(137, 135, 135);
}

.sold {
    color: rgb(233, 3, 3);
    font-weight: bold;
}


.buttons a {
    display: block;
    margin: 50px 0px;
    text-decoration: none;
    text-align: center;
    border: 1px solid  hsl(233, 93%, 61%);
    padding: 18px;
    border-radius: 100px;
}

.blue-button {
    background-color: hsl(233, 93%, 61%);
    font-weight: bold;
}

#product-info .blue-button {
    color: white;
}

#product-info .outline-button {
    color:  hsl(233, 93%, 61%);
}