/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

#post-it-1 {
    background-color: turquoise;
    display: inline-block;
    width: 220px;
    height: 250px;
    margin: 24px;
    padding: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: 4px 4px 10px rgb(84, 83, 83);
}