* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: rgba(245, 245, 245, 0.585);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #111111;
    padding: 10px;
    text-align: center;
}

#navbar a:hover {
    font-weight: bold;
}

#navbar #logo {
    margin-left: 40px;
    margin-right: auto;
}

#navbar img {
    width: 150px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition:
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #c1b918e4;
    width: 100%;
    min-width: 200px;
}

.search-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin: 0px 40px 1px;
    padding: 0px 70px;
    border: 1px solid #111111;
    border-radius: 75px;
}

.hero {
    background:
        linear-gradient(#3a383836,#ffffff15),
        url(../images/hero_mercat.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.hero h2 {
    color: whitesmoke;
    font-size: 3vw;
    margin-bottom: 0px;
    margin-right: 3vw;
}

.hero a {
    display: inline-block;
    text-decoration: none;
    font-size: 1vw;
    color: whitesmoke;
    padding: 18px;
    margin: 4vh 7vw;
    border: 2px solid #c1b918;
    border-radius: 5px;

}

.hero a:hover {
    font-weight: bold;
    box-shadow: 2px 2px 5px #c1b918;
    transform: translateY(-4px);
}

.spacer {
    height: 8vh;
}

.single-column {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.side-by-side {
    display: flex;
    align-items: center;
}

.side-by-side .image-container {
    flex: 1;
}

.side-by-side .text-container {
    flex: 1;
}

.side-by-side .image-container img {
    width: 100%;
}

.side-by-side .text-container h3 {
    font-size: 48px;
    margin-bottom: 2px;
}

.text-container {
    margin-left: 40px;
}

.text-container p {
    font-size: 20px;
}

.text-container a {
    display: inline-block;
    text-decoration: none;
    font-size: 0.7vw;
    color: #111111;
    padding: 14px;
    border: 2px solid #c1b918;
    border-radius: 5px;
}

.text-container a:hover {
    font-weight: bold;
    box-shadow: 2px 2px 5px #c1b918;
    transform: translateY(-4px);
}

.grid-layout-2 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 60px;
}

.horizontal-masonry-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.horizontal-masonry-gallery img {
    height: 300px;
    flex: 1;
    object-fit: cover;
}

#footer {
    background-color: #111111;
    color: whitesmoke;
    padding: 40px;
}

#footer a {
    text-decoration: none;
    color: whitesmoke;
}

.footer-navbar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footer-navbar div {
    display: flex;
    flex-direction: column;
}

.footer-navbar span {
    padding: 8px 0px;
    font-size: 14px;
}

.footer-content {
    text-align: center;
}

.footer-content a {
    display: inline-block;
    text-decoration: none;
    font-size: 0.7vw;
    color: #111111;
    padding: 14px;
    border: 2px solid #c1b918;
    border-radius: 5px;
}

.footer-content a:hover {
    font-weight: bold;
    box-shadow: 2px 2px 5px #c1b918;
    transform: translateY(-4px);
}

.menu-header h2 {
    text-align: center;
    font-size: 48px;
} 

.menu-header h3 {
    text-align: center;
    font-size: 30px;
}

.footer-content div {
    margin-top: 20px;
    font-size: 14px;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "menu-sidebar"
        "menu-sidebar-2";
        text-align: center;
}

.menu-sidebar p {
    margin-top: 0px;
}

.menu-sidebar {
    height: 700px;
}

.menu-sidebar ul {
    list-style-type: none;
}

.menu-sidebar li {
    font-weight: bold;
}

.menu-sidebar p {
    font-weight: lighter;
}

.menu-sidebar-2 li {
    height: 54px;
}

.menu-sidebar-2 ul {
    list-style-type: none;
    
}

.side-by-side-2 {
    display: flex;
    align-items: center;
}

.side-by-side-2 .image-container-2 {
    flex: 1;
}

.side-by-side-2 .text-container-2 {
    flex: 1;
}

.side-by-side-2 .image-container-2 img {
    width: 100%;
    margin-left: 24px;
}

.side-by-side-2 .text-container-2 h3 {
    font-size: 40px;
    margin-bottom: 2px;
}

.text-container-2 {
    padding: 40px;
    margin: 5px;
}

.text-container-2 p {
    font-size: 18px;
}

.text-container-2 a {
    display: inline-block;
    text-decoration: none;
    font-size: 0.7vw;
    color: #111111;
    padding: 14px;
    border: 2px solid #c1b918;
    border-radius: 5px;
}

.text-container-2 a:hover {
    font-weight: bold;
    box-shadow: 2px 2px 5px #c1b918;
    transform: translateY(-4px);
}

@media screen and (max-width: 1080px) {
    #navbar {
        flex-direction: column;
        font-size: 14px;
        padding-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    #navbar #logo {
        flex-direction: column;
        margin-left: 30px;
    }
    
}

@media screen and (max-width: 993px) {
    .single-column p {
        font-size: 14px;
        margin-right: 5px;
    }

    .side-by-side .text-container h3 {
        font-size: 36px;
    }

    .text-container a {
        font-size: 0.8vh;
    }

    .hero a {
        margin: 2vh 5vw;
    
    }

    .side-by-side .image-container {
        padding-left: 30px;
    }

    .hero {
        height: 30vh;
    }
    

    .spacer {
        height: 3vh;
    }

    .footer-content h3 {
        font-size: 14px;
    }

    .footer-content a {
        font-size: 0.8vh;
    }

    .footer-content div {
        font-size: 10px;
    }

    .text-container-2 a {
        font-size: 0.8vh;
    }

    .menu-header h2 {
        font-size: 36px;
    }

}

@media screen and (max-width: 1269px) {
    .grid-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "menu-sidebar"
            "menu-sidebar-2";
            text-align: center;
            height: 1200px;
    }

    .side-by-side h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 693px) {
    .side-by-side-2 {
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 20px;
    }

    .image-container-2 {
        width: 80%;
        margin-right: 40px;
    }

    .side-by-side-2 .text-container-2 h3 {
        text-align: center;
        font-size: 30px;
    }

    .hero a {
        font-size: 1.5vw;
    }

    .menu-sidebar {
        height: 700px;
        font-size: 14px;
    }

    .menu-sidebar-2 li {
        height: 45px;
    }

}

@media screen and (max-width: 600px) {

    .side-by-side {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .image-container {
        align-items: center;
        width: 70%;
    }

    .side-by-side .text-container h3 {
        text-align: center;
        font-size: 30px;
    }

    #navbar {
        flex-direction: column;
        font-size: 12px;
        padding-bottom: 8px;
        
    }

    #navbar #logo {
        flex-direction: column;
        margin-left: auto;
    }
}

@media screen and (max-width: 519px) {
    .menu-sidebar {
        height: 700px;
        font-size: 14px;
    }

    .menu-sidebar-2 li {
        height: 49px;
    }
}