* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.hero {
    background-image: url(../images/benjyteatro.jpg);
    height: 118vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.hero h1 {
    font-size: 3.5vw;
    margin-right: 8vw;
    margin-top: 0px;
    margin-bottom: 0px;
    color: whitesmoke;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.hero h4 {
    font-size: 1.3vw;
    margin-right: 8vw;
    margin-top: 3px;
    color: whitesmoke;
    border-bottom: 1px solid rgb(190, 7, 7);
    padding: 0px 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.spacer {
    height: 4vh;
}

.single-column {
    width: 50%;
    min-width: 400px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.single-column h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.basic-grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
    padding: 24px;
    border: 3px solid rgb(190, 7, 7);
}

.basic-grid-gallery img {
    width: 100%;
}