* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#grid-layout {
    display: grid;
    grid-template-columns: 1fr 900px 1fr;
    grid-template-areas: ". content sidebar .";
    margin: 36px 0px;
    margin-left: 48px;
}

#sidebar-content {
    grid-area: sidebar;
    padding: 18px;
}

#sidebar-content h2 {
    background-color: #111111;
    color: #EFEFEF;
    margin: 0px;
    padding: 12px;
    font-size: 18px;
}

#sidebar-content ul {
    background-color: #EFEFEF;
    border: 1px solid #111111;
    margin: 0px 0px 36px;
    list-style-type: none;
    padding: 0px 12px;
}

#sidebar-content a {
    color: orangered;
    text-decoration: none;
}

#sidebar-content li {
    padding: 8px 0px;
    border-bottom: 1px solid #111111;
}

/* pseudo-class */
#sidebar-content li:last-child {
    border-bottom: 0px;
}

#main-content {
    grid-area: content;
    margin: 0px 36px;
}

#main-content h1 {
    color: #111111;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#main-content h5 {
    color: orangered;
    font-weight: lighter;
}

#main-content span {
    color: orangered;
    margin: 1px;
    font-weight: lighter;
    font-size: 14px;
}

#main-content img {
    padding-top: 15px;
}

#main-content p {
    font-weight: lighter;
    width: 100%;
    max-width: 700px;
}

#season  {
    font-size: 20px;
    color: #111111;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#mickey {
    font-size: 20px;
    color: #111111;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#halloween-dine {
    font-size: 20px;
    color: #111111;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}